In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.cluster import KMeans

import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
%matplotlib inline

Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)

survival Survival (0 = No; 1 = Yes)

name Name

sex Sex

age Age

sibsp Number of Siblings/Spouses Aboard

parch Number of Parents/Children Aboard

ticket Ticket Number

fare Passenger Fare (British pound)

cabin Cabin

embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

boat Lifeboat

body Body Identification Number

home.dest Home/Destination

In [15]:
df = pd.read_excel('titanic.xls')

In [16]:
df.drop(['body','name'], 1, inplace=True)
df.convert_objects(convert_numeric=True)
'''
for column in df.columns: 
    df = pd.to_numeric(df.columns)
    ...
'''
df.fillna(0, inplace=True)

/home/olowathor/miniconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [18]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 or df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x += 1
                    
            df[column] = list(map(convert_to_int, df[column]))
            
    return df

In [19]:
df = handle_non_numerical_data(df)
print(df.head())

   pclass  survived  sex  age  sibsp  parch  ticket  fare  cabin  embarked  \
0       0         1    0   30      0      0     769   176    168         0
1       0         1    1   92      1      2     498   133     98         0
2       0         0    0    2      1      2     498   133     98         0
3       0         0    1   31      1      2     498   133     98         0
4       0         0    0   25      1      2     498   133     98         0

   boat  home.dest
0     2        268
1    26        225
2     0        225
3     0        225
4     0        225

In [20]:
df.drop(['boat'], 1, inplace=True)

X = np.array(df.drop(['survived'],1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = KMeans(n_clusters = 2)
clf.fit(X)

correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1